#header {
	width: 100vw;
	padding: 0 15px;
	background: rgba(0, 0, 0, .3);
	box-sizing: border-box;
}

#header > * {
	flex-basis: 0;
	flex-grow: 1;
	height: 100%;
}

#header > a {
	padding: 10px;
}

#headerUser {
	justify-content: flex-end;
	gap: 5px;
}