#header {
	width: 100vw;
	padding: 10px;
	background: rgba(0, 0, 0, .3);
	box-sizing: border-box;
}

#header > * {
	flex-basis: 0;
	flex-grow: 1;
	height: 100%;
}

#headerUser {
	justify-content: flex-end;
	gap: 15px;
}