<div class = "loginContainer card flexColumn">
    <p *ngIf = "errMessage" [ngClass] = "errorTextClass">{{ errMessage }}</p>
        
    <input [(ngModel)] = "passwordInput" (keydown) = "keyDown ($event);" class = "mediumFont" type = "password" placeholder = "Password" />
    
    <input [(ngModel)] = "confirmPasswordInput" (keydown) = "keyDown ($event);" class = "mediumFont" type = "password" placeholder = "Confirm Password" />
    
    <button (click) = "changePassword ();" class = "mediumFont">Submit New Password</button>
    
    <a routerLink = "/reset-password" class = "smallFont">Try E-Mail Password Reset Again</a>
</div>
