.errorText {
	font-size: 20px;
	margin: 10px;
	color: rgb(57, 153, 190);
	font-style: bold;
}

.white {
	color: rgb(255, 255, 255);
}

.inline {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}