.profileContainer {
	width: 550px;
	gap: 15px;
	padding: 15px;
	justify-content: flex-start;
	background: rgba(0, 0, 0, .3);
	box-sizing: border-box;
	border-radius: 4px;
}

.profileInfoContainer {
	gap: 5px;
	align-items: flex-start;
}

.profileImage {
	object-fit: contain;
	height: 100px;
	border-radius: 50%;
}

.profileEditControl {
	
}

.profileEditButtons {
	width: 100%;
	gap: 5px;
}

.profileEditButton {
	flex-grow: 1;
}