<div class = "listContainer flexColumn" style = "padding-bottom: 0; overflow-y: scroll;">
	<div class = "profileContainer flex">
		<img class = "profileImage" src = "{{ user.profileImageUrl }}">
		
		<div *ngIf = "!showEditControls" class = "profileInfoContainer flexColumn">
			<p class = "mediumFont">{{ user.firstName }} {{ user.lastName }}</p>
			<p class = "usernameText smallFont">@{{ user.username }}</p>
			<p class = "mediumFont">✉ {{ user.email }}</p>
			
			<button *ngIf = "dataService.user.username === user.username" (click) = "showEditControls = true" class = "profileEditButton">Edit Profile</button>
		</div>
		
		<div *ngIf = "showEditControls" class = "profileInfoContainer flexColumn">
			<input [(ngModel)] = "firstNameInput" class = "mediumFont" type = "text" placeholder = "First Name" />
			<input [(ngModel)] = "lastNameInput" class = "mediumFont" type = "text" placeholder = "Last Name" />
			<input [(ngModel)] = "emailInput" class = "mediumFont" type = "email" placeholder = "Email" />
			<input [(ngModel)] = "usernameInput" class = "mediumFont" type = "text" placeholder = "Username" />
			<input [(ngModel)] = "passwordInput" class = "mediumFont" type = "password" placeholder = "New Password" />
			
			<div class = "profileEditSubmitButtons flex">
				<button (click) = "showEditControls = false; clearEditInputs ();" class = "profileEditSubmitButton">✕</button>
				
				<button (click) = "editProfile ();" class = "profileEditSubmitButton">✓</button>
			</div>
		</div>
	</div>
	
	<app-posts [posts] = "posts" (scrollBottom) = "getPosts ();"></app-posts>
</div>