<div class = "listContainer flexColumn" style = "padding-bottom: 0; overflow-y: scroll;">
	<div class = "profileContainer flex">
		<img class = "profileImage" src = "{{ user.profileImageUrl }}">
		
		<div *ngIf = "!showEdit" class = "profileInfoContainer flexColumn">
			<p class = "profileEditControl smallFont">{{ user.firstName }} {{ user.lastName }}</p>
			<p class = "profileEditControl usernameText extraSmallFont">@{{ user.username }}</p>
			<p class = "profileEditControl smallFont">✉ {{ user.email }}</p>
			
			<button *ngIf = "dataService.user.username === user.username" (click) = "showEdit = !showEdit">Edit Profile</button>
		</div>
		
		<div *ngIf = "showEdit" class = "profileInfoContainer flexColumn">
			<input class = "profileEditControl" type = "text" placeholder = {{user.firstName}} />
			<input class = "profileEditControl" type = "text" placeholder = {{user.lastName}} />
			<input class = "profileEditControl" type = "text" placeholder = {{user.username}} />
			<input class = "profileEditControl" type = "email" placeholder = {{user.email}} />
			<input class = "profileEditControl" type = "password" placeholder = "New Password" />
			
			<div class = "profileEditButtons flex">
				<button (click) = "showEdit = !showEdit" class = "profileEditButton">✕</button>
				
				<button class = "profileEditButton">✓</button>
			</div>
		</div>
	</div>
	
	<app-posts [posts] = "posts" (scrollBottom) = "getPosts ();" style = "padding: 0 0 10px; overflow: unset; height: unset;"></app-posts>
</div>