@media (hover : hover) {
	.editProfileImageLabel {
		transition: filter .25s;
	}
	
	.editProfileImageLabel:hover {
		filter: brightness(50%);
	}
}

.profileContainer {
	justify-content: space-between;
	align-items: center;
}

.profileInfoContainer {
	width: 100%;
	gap: 3px;
	align-items: flex-start;
}

.profileImage {
	width: 100px;
	height: 100px;
	/*width: 100%;*/
	/*height: 100%;*/
	object-fit: cover;
	border-radius: 50%;
}

.profileEditControl {
	width: 100%;
}

.profileEditButton {
	margin-top: 5px;
}

.editProfileImageLabel {
	cursor: pointer;
	position: relative;
}

.profileEditSubmitButtons {
	width: 100%;
	gap: 3px;
}

.profileEditSubmitButton {
	flex-grow: 1;
}

@media (hover: hover) {
	.profileContainer {
		justify-content: flex-start;
	}
	
	.editControls {
		max-width: 250px;
	}
}