.profileContainer {
	width: 550px;
	max-width: 95vw;
	padding: 15px;
	justify-content: flex-start;
	background: rgba(0, 0, 0, .3);
	gap: 15px;
	border-radius: 4px;
	box-sizing: border-box;
}

.profileInfoContainer {
	gap: 3px;
	align-items: flex-start;
}

.profileImage {
	object-fit: contain;
	height: 100px;
	border-radius: 50%;
}

.profileEditButton {
	margin-top: 5px;
}

.profileEditSubmitButtons {
	width: 100%;
	gap: 5px;
}

.profileEditSubmitButton {
	flex-grow: 1;
}

.profilePosts {
	height: unset;
	padding: 0 0 10px;
	overflow: unset;
}