.profileContainer {
	justify-content: space-between;
	align-items: center;
}

.profileInfoContainer {
	width: 100%;
	gap: 3px;
	align-items: flex-start;
}

.profileImage {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.profileEditControl {
	width: 100%;
}

.profileEditButton {
	margin-top: 5px;
}

.profileEditSubmitButtons {
	width: 100%;
	gap: 3px;
}

.profileEditSubmitButton {
	flex-grow: 1;
}

.profilePosts {
	height: unset;
	padding: 0 0 10px;
	overflow: unset;
}

@media (hover: hover) {
	.profileContainer {
		justify-content: flex-start;
	}
	
	.editControls {
		max-width: 250px;
	}
}