.userContainer {
	justify-content: space-between;
	gap: 7px;
	outline: none;
}

.userContainer > img {
	object-fit: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.userContainer:hover {
	cursor: pointer;
}

.userText {
	gap: 3px;
	align-items: flex-start;
}

.userText > p {
	padding: 0;
}