/*.loginContainer {
	padding: 10%;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	gap: 5px;
	box-sizing: border-box;    
}*/

.loginContainer {
	width: 550px;
	max-width: 95vw;
	padding: 15px;
	background: rgba(0, 0, 0, .3);
	gap: 3px;
	border-radius: 4px;
	box-sizing: border-box;
}

.loginContainer > input, .loginContainer > button {
	width: 50%;
}

.errorText {
	font-size: 20px;
	margin: 10px;
	color: rgb(57, 153, 190);
	font-style: bold;
	/*text-shadow: 2px 2px 2px rgba(0, 0, 0, 255);*/
}

.login-green {
	color: rgb(28, 161, 39);
}

.login-white {
	color: rgb(255, 255, 255);
}

.errorImg {    
	width: 20px;
	height: 18px;    
}