<div class = "loginContainer card flexColumn">
	<p *ngIf = "errMessage" [ngClass] = "errorTextClass">{{ errMessage }}</p>
	
	<input [(ngModel)] = "identifierInput" (keydown) = "keyDown ($event);" class = "mediumFont" autofocus placeholder = "Username or Email"/>
	
	<input [(ngModel)] = "passwordInput" (keydown) = "keyDown ($event);" class = "mediumFont" type = "password" placeholder = "Password" />
	
	<button (click) = "loginUser ();" class = "mediumFont">Login</button>
	
	<span class="inline"><a routerLink = "/register" class = "smallFont" style="margin-right: 10px;">Create an Account</a><a routerLink = "/reset-password" class = "smallFont" style="margin-left: 10px;">Forgot Password</a></span>
</div>