<div class = "loginContainer card flexColumn">
    <p *ngIf = "errMessage" [ngClass] = "errorTextClass">{{ errMessage }}</p>
    
    <input [(ngModel)] = "firstNameInput" (keydown) = "keyDown ($event);" class = "mediumFont" autofocus placeholder = "First Name" />
    
    <input [(ngModel)] = "lastNameInput" (keydown) = "keyDown ($event);" class = "mediumFont" placeholder = "Last Name" />
    
    <input [(ngModel)] = "emailInput" (keydown) = "keyDown ($event);" class = "mediumFont" type = "email" placeholder = "Email" />
    
    <input [(ngModel)] = "usernameInput" (keydown) = "keyDown ($event);" class = "mediumFont" placeholder = "Username" />
    
    <input [(ngModel)] = "passwordInput" (keydown) = "keyDown ($event);" class = "mediumFont" type = "password" placeholder = "Password" />
    
    <input [(ngModel)] = "confirmPasswordInput" (keydown) = "keyDown ($event);" class = "mediumFont" type = "password" placeholder = "Confirm Password" />
    
    <button (click) = "registerUser ();" class = "mediumFont">Register</button>
    
    <a routerLink = "/login" class = "smallFont">Login to an existing account</a>
</div>
