<div class = "card flexColumn">
	<app-user [user] = "dataService.user"></app-user>
	
	<textarea [(ngModel)] = "postInput" class = "createPostInput mediumFont" placeholder = "Write a post..."></textarea>
	
	<div class = "createPostPreviewImages flex" *ngIf = "previewImageUrls.length > 0">
		<div *ngFor = "let url of previewImageUrls; index as i" class = "previewImageContainer flex">
			<img class = "previewImage" [src] = "url" />
			
			<button (click) = "removePreviewImage (i)" class = "removePreviewImageButton extraSmallFont">✕</button>
		</div>
	</div>
	
	<div class = "createPostSubmitContainer flex">
		<label class = "addPostImagesLabel smallFont">
			Add Images
			
			<input type = "file" accept = "image/*" multiple class = "addPostImagesInput" (input) = "uploadImage ($event);" />
		</label>
		
		<button (click) = "post ();" class = "smallFont">Post</button>
	</div>
</div>