.createPostInput {
	width: 100%;
	height: 100px;
	font-family: Arial;
	box-sizing: border-box;
	resize: none;
}

.createPostPreviewImages {
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 5px;
}

.createPostSubmitContainer {
	width: 100%;
	justify-content: space-between;
	gap: 5px;
}

.addPostImagesLabel {
	background: rgba(0, 0, 0, .3);
	padding: 10px;
	cursor: pointer;
}

.addPostImagesInput {
	display: none;
}

.previewImageContainer {
	position: relative;
}

.previewImage {
	height: 75px;
}

.removePreviewImageButton {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 50%;
	background: rgba(0, 0, 0, .6);
	padding: 0;
	transition: .25s opacity;
	opacity: 0;
}

.previewImageContainer:hover > .removePreviewImageButton {
	opacity: 1;
}