.post {
	width: 100%;
	max-width: 550px;
	padding: 15px;
	justify-content: flex-start;
	align-items: flex-start;
	background: rgba(0, 0, 0, .3);
	gap: 15px;
	border-radius: 4px;
	box-sizing: border-box;
}

.postImage {
	width: 100%;
	object-fit: cover;
}

.postControls {
	width: 100%;
	justify-content: space-between;
}

.postControlsComment, .postControlsLike {
	gap: 5px;
}

.postControlsComment > a, .postControlsLike > a {
	user-select: none;
}