@media (hover: hover) {
	.postImagesControls {
		opacity: 0;
		transition: .25s opacity;
	}

	.postImagesControls:hover {
		opacity: unset;
	}
}

.postImages {
	width: 100%;
	position: relative;
}

.postImagesControls {
	width: 100%;
	height: 100%;
	height: 300px;
	position: absolute;
	justify-content: space-between;
	padding: 15px;
	box-sizing: border-box;
}

.postImagesControls:active {
	pointer-events: none;
}

.postImagesControl {
	width: 35px;
	height: 35px;
	background: rgba(0, 0, 0, .6);
	border-radius: 50%;
	transition: .25s opacity;
	pointer-events: auto;
	cursor: pointer;
}

.postImagesContainer {
	background: rgba(0, 0, 0, .3);
	height: 300px;
	overflow-x: hidden;
}

.postImage {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.postControls {
	width: 100%;
	justify-content: space-between;
}

.postControl {
	gap: 7px;
}

.postControl > a > img {
	height: 23px;
}

.postComments {
	width: 100%;
	align-items: flex-start;
	gap: 20px;
}

.postCommentsInputContainer {
	width: 100%;
	gap: 5px;
}

.postCommentsInput {
	background: rgba(0, 0, 0, .3);
	padding: 10px;
	flex-grow: 1;
}