<div class = "post flexColumn">
	<app-user [user] = "user"></app-user>
	
	<p class = "postBody mediumFont">{{ post.body }}</p>
	
	<div *ngIf = "post.imageUrls.length > 0" class = "postImages">
		<div class = "postImagesControls flex">
			<button class = "postImagesPreviousButton largeFont" class = "postImagesControl" (click) = "previousImage ();" [ngClass] = "{ 'hidden': currentImageIndex === 0 }">◀</button>
			
			<button class = "postImagesNextButton largeFont" class = "postImagesControl" (click) = "nextImage ();" [ngClass] = "{ 'hidden': currentImageIndex === post.imageUrls.length - 1 }">▶</button>
		</div>
		
		<div class = "postImagesContainer flex">
			<img *ngFor = "let url of post.imageUrls; index as i" [ngClass] = "{ 'displayNone': i !== currentImageIndex }" src = "{{ url }}" class = "postImage" />
		</div>
	</div>
	
	<div class = "postControls flex">
		<div class = "postControl flex">
			<a class = "flex" (click) = "showComments = !showComments;"><img src = "assets/comment.png" /></a>
			
			<p class = "smallFont">{{ post.comments.length }}</p>
		</div>
		
		<div class = "postControl flex">
			<a class = "flex" (click) = "toggleLike ();">
				<img [ngClass] = "{ 'displayNone': !liked }" src = "assets/fire.png" />
				
				<img [ngClass] = "{ 'displayNone': liked }" src = "assets/fire_gray.png" />
			</a>
			
			<p class = "smallFont">{{ getLikeCount () }}</p>
		</div>
	</div>
	
	<div [ngClass] = "{ 'displayNone': !showComments }" class = "postComments flexColumn">
		<app-comment *ngFor = "let comment of post.comments" [user] = "dataService.users [comment.creatorId]" [body] = "comment.body"></app-comment>
		
		<div class = "postCommentsInputContainer flex">
			<input class = "postCommentsInput smallFont" placeholder = "Write a comment..." [(ngModel)] = "postCommentInput" />
			
			<button class = "smallFont" (click) = "postComment ();">Post</button>
		</div>
	</div>
</div>