<div class = "post flexColumn">
	<app-user></app-user>
	
	<p class = "postBody mediumFont">{{ body }}</p>
	
	<div class = "postImages">
		<div class = "postImagesControls flex">
			<button class = "postImagesPreviousButton largeFont" class = "postImagesControl" (click) = "previousImage ();" [ngClass] = "{ 'postImagesControlDisabled': currentImageIndex === 0 }">◀</button>
			
			<button class = "postImagesNextButton largeFont" class = "postImagesControl" (click) = "nextImage ();" [ngClass] = "{ 'postImagesControlDisabled': currentImageIndex === imageUrls.length - 1 }">▶</button>
		</div>
		
		<div class = "postImagesContainer flex">
			<img *ngFor = "let url of imageUrls; index as i" class = "postImage" src = "{{ url }}" [ngClass] = "{ 'postImageDisabled': i !== currentImageIndex }" />
		</div>
	</div>
	
	<div class = "postControls flex">
		<div class = "postControl flex">
			<a class = "flex" (click) = "showComments = !showComments;"><img src = "assets/comment.png" /></a>
			
			<p class = "smallFont">{{ commentCount }}</p>
		</div>
		
		<div class = "postControl flex">
			<a class = "flex" (click) = "liked = !liked;">
				<img *ngIf = "liked" src = "assets/fire.png" />
				
				<img *ngIf = "!liked" src = "assets/fire_gray.png" />
			</a>
			
			<p class = "smallFont">{{ likeCount }}</p>
		</div>
	</div>
	
	<div *ngIf = showComments class = "postComments flexColumn">
		<app-comment></app-comment>
		
		<app-comment></app-comment>
		
		<app-comment></app-comment>
		
		<div class = "postCommentsInputContainer flex">
			<input class = "postCommentsInput smallFont" placeholder = "Write a comment..." />
			
			<button class = "postCommentsSubmitButton smallFont">Post</button>
		</div>
	</div>
</div>