::-webkit-scrollbar {
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	animation: fire 30s linear infinite;
}

@keyframes fire {
	from, to { background: #801100; }
	
	25%, 75% { background: #803300; }
	
	50% { background: #804600; }
}

p, a, label {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Arial;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button, input, textarea {
	outline: 0;
	border: 0;
	color: white;
}

button {
	background: rgba(0, 0, 0, .3);
	padding: 10px;
	cursor: pointer;
}

.hidden {
	visibility: hidden !important;
}

.displayNone {
	display: none !important;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page {
	width: 100%;
	flex-grow: 1;
	overflow-y: scroll;
}

.extraSmallFont{
	font-size: 13px;
}

.smallFont {
	font-size: 15px;
}

.mediumFont {
	font-size: 18px;
}

.largeFont {
	font-size: 20px;
}

.listContainer {
	padding: 10px;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	gap: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
}