::-webkit-scrollbar {
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	animation: fire 10s ease-in-out infinite;
}

@keyframes fire {
	from, to { background: #800500; }
	
	25%, 75% { background: #801000; }
	
	50% { background: #802500; }
}

p, pre, a, label {
	margin: 0;
	padding: 0;
	color: white;
	font-family: Arial;
	word-break: break-word;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button, input, textarea {
	outline: none;
	border: none;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	background: rgba(0, 0, 0, .3);
}

button {
	cursor: pointer;
}

input[type = "file"] {
	display: none;
}

iframe {
	border: none;
}

.hidden {
	visibility: hidden !important;
}

.displayNone {
	display: none !important;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page {
	width: 100%;
	flex-grow: 1;
	overflow-y: scroll;
}

.extraSmallFont{
	font-size: 13px;
}

.smallFont {
	font-size: 15px;
}

.mediumFont {
	font-size: 18px;
}

.largeFont {
	font-size: 20px;
}

.card {
	width: 550px;
	max-width: 95vw;
	padding: 15px;
	align-items: flex-start;
	background: rgba(0, 0, 0, .3);
	gap: 15px;
	border-radius: 4px;
	box-sizing: border-box;
}

.loginContainer {
	gap: 3px;
	align-items: center;
}

.loginContainer > input, .loginContainer > button {
	width: 90vw;
	max-width: 320px;
}

.loginContainer > a {
	padding: 15px;
}

.listContainer {
	padding: 10px;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
	gap: 10px;
	box-sizing: border-box;
	overflow-y: scroll;
}

.usernameText {
	color: #BBB;
}